<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29591486894-2c5sv0l8qeigi2uqurir34j8o2tf2a3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29591486894-2c5sv0l8qeigi2uqurir34j8o2tf2a3s</string>
	<key>API_KEY</key>
	<string>AIzaSyCg1nkAtPrsHrsYgCgyf4mf6lBXC6basI8</string>
	<key>GCM_SENDER_ID</key>
	<string>29591486894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.gov.pi.pidigital</string>
	<key>PROJECT_ID</key>
	<string>pidigital-c3c13</string>
	<key>STORAGE_BUCKET</key>
	<string>pidigital-c3c13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29591486894:ios:36eca32c338b877fd8c83f</string>
</dict>
</plist>